html {
    scroll-behavior: smooth;
}
.logo-t {
    font-size: 3em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1em;
}

.mask {
    background-color: black;
    opacity: 0.5
}
.hero-desktop {
    display: block;
}

.hero-mobile {
    display: none;
}

@media (max-width: 768px) {
    .hero-desktop {
        display: none;
    }
    .hero-mobile {
        display: block;
        text-align: center;
        color: #fff;
    }
}
